@model IEnumerable<TFA.Models.ImageModels>

@{
    ViewBag.Title = "Image Login";
}

@using (Html.BeginForm("ImageLogin", "Account", new { Email = TempData["UserEmail"] }, FormMethod.Post, new { @class = "form-horizontal small-panel col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Select your set image password</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@ViewBag.ImageLoginMessage*@
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            var cbid = "cb_" + @item.Id;

            <div id="div_@item.Id" class="col-md-4 no-padding checkbox">
                <label class="no-padding" style="padding: 0; margin: 0;">
                    <input hidden type="checkbox" name="img" id="@cbid" value="@cbid" onchange="imageClick('cb_' + @item.Id, 'div_' + @item.Id);" />
                    <img src="http://@item.Path" class="max-hw" />
                </label>
            </div>
        }
    </div>
    <input type="text" id="txtImageSerial" name="imageSerial" value="" hidden />
    <input type="text" id="txtEmail" name="email" value="@TempData["UserEmail"]" hidden />
    @*<div class="col-xs-12 margin-top-24">
        <input type="submit" class="btn btn-success" value="Login" />
    </div>*@
    <br />
    <span class="glyphicon glyphicon-info-sign"></span>
    <text>&nbsp;&nbsp;Select your image password.</text>

    <div class="form-group margin-top-24">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-success" value="Login" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function imageClick(cbid, divid) {

            console.log('CBID: [ ' + cbid + ' ]');

            let isChecked = document.getElementById(cbid).checked;
            console.log('isChecked: [ ' + isChecked + ' ]');

            if (isChecked) {
                document.getElementById(divid).style.pointerEvents = "none";
                console.log('pointerEvents: [ ' + document.getElementById(divid).style.pointerEvents + ' ]');
                document.getElementById(divid).style.opacity = 0.4;
                console.log('opacity: [ ' + document.getElementById(divid).style.opacity + ' ]');

                let normalizedCbid = cbid.replace('cb_', '');
                console.log('normalizedCbid: [ ' + normalizedCbid + ' ]');

                serialize(normalizedCbid, 'add');
            }
        }

        var serial = [];
        function serialize(cbid, method) {
            if (method == 'add') {
                serial.push(cbid);
                console.log('serial: [ ' + String(serial) + ' ]');

                serializeAll();
            } else if (method == 'remove') {

            }
        }

        function serializeAll() {
            let serialCode = '';
            for (let item of serial) {
                serialCode = serialCode.concat(item);
            }
            console.log('serialCode: [ ' + serialCode + ' ]');

            document.getElementById('txtImageSerial').value = null;
            document.getElementById('txtImageSerial').value = serialCode;
            console.log('txtImageSerial: [ ' + document.getElementById('txtImageSerial').value + ' ]');
        }
    </script>
}