@model TFA.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
            @if (Model.DaysToResetPassword > 0 && Model.DaysToResetPassword < 15)
            {
                <text>Your password will reset in @Model.DaysToResetPassword days</text>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
          
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add phone number", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            }
        </dd>

        <dt>Phone number confirmed:</dt>
        <dd>
            @if (Model.PhoneNumberConfirmed)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
                using (Html.BeginForm("VerifyCurrentPhoneNumber", "Manage", new { PhoneNumber = Model.PhoneNumber }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[&nbsp;&nbsp;<input type="submit" value="Verify" class="btn-link" />&nbsp;&nbsp;]</text>
}
}
        </dd>
        
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <label class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" />
                <label for="slideThree"></label>
            </label>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div hidden>
                        <input type="submit" id="d2fa" value="Disable" class="btn btn-link" />
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div hidden>
                        <input type="submit" id="e2fa" value="Enable" class="btn btn-link" />
                    </div>
                }
            }
        </dd>

        <dt>Three-Factor Authentication:</dt>
        <dd>
            <label class="slideThree">
                <input type="checkbox" value="None" id="slideThree2" name="check" />
                <label for="slideThree2"></label>
            </label>
            @if (Model.ThreeFactorEnabled)
            {
                using (Html.BeginForm("DisableThreeFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div hidden>
                        <input type="submit" id="d3fa" value="Disable" class="btn btn-link" />
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("EnableThreeFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div hidden>
                        <input type="submit" id="e3fa" value="Enable" class="btn btn-link" />
                    </div>
                }
            }
        </dd>

        <dt>Image Authentication Set:</dt>
        <dd>
            @if (Model.ImagePasswordSet)
            {
                <text>Yes</text><br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "ChangeImagePassword", "Account")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemoveImagePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>No</text>
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add image password", "AddImagePassword", "Account")&nbsp;&nbsp;]</text>
            }
        </dd>
    </dl>
</div>

@section Scripts
{
    <script>
        $('#slideThree:checkbox').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#e2fa').click();
            } else {
                // the checkbox is now no longer checked
                $('#d2fa').click();
            }
        });

        $('#slideThree2:checkbox').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#e3fa').click();
            } else {
                // the checkbox is now no longer checked
                $('#d3fa').click();
            }
        });

        window.onload = function setSlideThreeState() {
            $("#slideThree").prop('checked', @Model.TwoFactor.ToString().ToLower());
            $("#slideThree2").prop('checked', @Model.ThreeFactorEnabled.ToString().ToLower());
        }
    </script>
}