@model TFA.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>
<h4>Account settings and details</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div class="row is-flex">
    <div class="col-xs-12 col-md-4" style="border: 2px groove #00BC8C; padding: 12px;">
        <div class="col-xs-12" style="margin-top: 12px;">
            <label>Account Settings:</label>
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Password:</label>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
            }
            else
            {
                @Html.ActionLink("Create password", "SetPassword", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
            }
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Notification Settings:</label>
            <br />
            @Html.ActionLink("Change", "NotificationSettings", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Reset 3FA:</label>
            <br />
            @Html.Partial("_Clear2FA")
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Log off:</label>
            <br />
            @Html.Partial("_LogoffPartial")
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            @if (Model.DaysToResetPassword > 0 && Model.DaysToResetPassword < 15)
            {
                <span class="glyphicon glyphicon-info-sign"></span><text>  Your password will reset in @Model.DaysToResetPassword days</text>
            }
        </div>
    </div>

    <div class="col-xs-12 col-md-4" style="border: 2px groove #00BC8C; padding: 12px;">
        <div class="col-xs-12" style="margin-top: 12px;">
            <label class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" />
                <label for="slideThree"></label>
            </label>
            <label>OTP Authentication</label>
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Email:&nbsp;</label>@Model.Email
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Email Verified:&nbsp;</label>
            @if (@Model.EmailConfirmed)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
                using (Html.BeginForm("SendConfirmEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Confirm email" class="btn btn-default btn-sm" style="width: 100%;" />
                }
            }
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Phone Number:</label>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <div class="col-xs-6">
                    @Html.ActionLink("Change", "AddPhoneNumber", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
                </div>
                <div class="col-xs-6">
                    @using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Remove" class="btn btn-default btn-sm" style="width: 100%;" />
                    }
                </div>
            }
            else
            {
                @Html.ActionLink("Add phone number", "AddPhoneNumber", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
            }
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            @if (!Model.PhoneNumber.IsEmpty())
            {
                <label>Phone Number Verified:</label>
                if (Model.PhoneNumberConfirmed)
                {
                    <text>Yes</text>
                    <br />
                    <span class="glyphicon glyphicon-info-sign"></span><text>  Verified <i>email</i> and <i>phone number</i> can be used in sending codes during login</text>
                }
                else
                {
                    <text>No</text>
                    <div class="col-xs-6">
                        @using (Html.BeginForm("VerifyCurrentPhoneNumber", "Manage", new { PhoneNumber = Model.PhoneNumber }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Verify" class="btn btn-default btn-sm" style="width: 100%;" />
                        }
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-xs-12 col-md-4" style="border: 2px groove #00BC8C; padding: 12px;">
        <div class="col-xs-12" style="margin-top: 12px;">
            <label class="slideThree">
                <input type="checkbox" value="None" id="slideThree2" name="check" />
                <label for="slideThree2"></label>
            </label>
            <label>Image Authentication</label>
        </div>

        <div class="col-xs-12" style="margin-top: 12px; margin-left: 20px;">
            <label>Have Image Password:</label>
            @if (Model.ImagePasswordSet)
            {
                <text>Yes</text>
                <br />
                <div class="col-xs-6">
                    @Html.ActionLink("Change", "ChangeImagePassword", "Account", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
                </div>
                using (Html.BeginForm("RemoveImagePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xs-6">
                        <input type="submit" value="Remove" class="btn btn-default btn-sm" style="width: 100%;" />
                    </div>
                }
            }
            else
            {
                <text>No</text>
                @Html.ActionLink("Add image password", "AddImagePassword", "Account", "", new { @class = "btn btn-default btn-sm", style = "width: 100%;" })
            }
        </div>
    </div>
</div>

@if (Model.TwoFactor)
{
    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div hidden>
            <input type="submit" id="d2fa" value="Disable" class="btn btn-link" />
        </div>
    }
}
else
{
    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div hidden>
            <input type="submit" id="e2fa" value="Enable" class="btn btn-link" />
        </div>
    }
}

@if (Model.ThreeFactorEnabled)
{
    using (Html.BeginForm("DisableThreeFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div hidden>
            <input type="submit" id="d3fa" value="Disable" class="btn btn-link" />
        </div>
    }
}
else
{
    using (Html.BeginForm("EnableThreeFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div hidden>
            <input type="submit" id="e3fa" value="Enable" class="btn btn-link" />
        </div>
    }
}

@*<dl class="dl-horizontal">
    <dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>
</dl>*@

@section Scripts
{
    <script>
        $('#slideThree:checkbox').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#e2fa').click();
            } else {
                // the checkbox is now no longer checked
                $('#d2fa').click();
            }
        });

        $('#slideThree2:checkbox').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#e3fa').click();
            } else {
                // the checkbox is now no longer checked
                $('#d3fa').click();
            }
        });

        window.onload = function setSlideThreeState() {
            $("#slideThree").prop('checked', @Model.TwoFactor.ToString().ToLower());
            $("#slideThree2").prop('checked', @Model.ThreeFactorEnabled.ToString().ToLower());
        }
    </script>
}